body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p{
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: .9cm;
}

/*
*************HEADER**************

*/
.header{
    width: 100%;
    height: 100vh;
    background: url('../photography/mountain2.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    position: relative;
  

    nav{

    padding-top: 15px;

        .brand{
            display: inline;
            padding: 10px;
            font-size: 1.5rem;
       
        }

        .nav{
         
            justify-content: center;

            li{
                margin: 0 8px;

                a{
                    font-size: 1.2rem;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .head-group{
        width: 60%;
        position: absolute;
        top: 40%;
        left: 5%;
        
        h1{
            font-size: 5rem;
        }
    }


}


img{
    width: 100%;
    height: auto;
    transition: .2s;
}

// SERVICE SECTION

.service{
    padding: 5% 0;
}
/////////PHOTOS SECTION//////////////
.photos{
 
    .container{
        .row .col{
            padding: 0;

        }
        img:hover{
            opacity: .5;
            cursor: pointer;
        }
    }
}

//SECTION PADDING
.about,.blog,.photos,.service,footer{
    
    padding: 5% 0;
}


.about .container{
        img{
            height: 100%;
        }
}

.blog {

    .mybtn{
        background-color: transparent;
        border: none;
        

    }
}
